.about-product {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .about-product {
        flex-direction: column;
    }
}

.about-product__img {
    width: 500px;
    margin-right: 50px;
}

@media (max-width: 769px) {
    .about-product__img {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 399px) {
    .about-product__img {
        width: 300px;
        margin-right: 0px;
    }
}

.about-product__description {
    margin-left: 50px;
}


@media (max-width: 1204px) {
    .about-product__description {
        margin: 0;
    }
}


.about-product__description-header {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: 36px;
    font-weight: bold;
}

.about-product__description-parapgraph {
    line-height: 1.7;
    color: var(--color-primary);
}

