.about-product {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .about-product {
        flex-direction: column;
    }
}

.about-product__img {
    width: 600px;
}

@media (max-width: 1024px) {
    .about-product__img {
        width: 500px;
        margin-bottom: 30px;
    }
}

@media (max-width: 399px) {
    .about-product__img {
        width: 300px;
    }
}

.about-product__description {
    padding: 30px;
}

@media (max-width: 399px) {
    .about-product__description {
        padding: 0;
    }
}

.about-product__description-header {
    text-transform: uppercase;
    color: #ffd727;
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .about-product__img {
        width: 300px;
        margin-bottom: 20px;
    }
}

.about-product__description-parapgraph {
    line-height: 1.7;
    color: #555;
}

.about-product__button-box {
    text-align: center;
    margin-top: 70px;
}

.about-product__button {
    border: 3px #ffd727 solid;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px 15px;
    position: relative;
    margin: 20px auto;
    transition: 1s;
}

.about-product__button:hover {
    color: #999;
    animation-name: button;
    animation-delay: 0.3s;
    animation-duration: 3s;
}

@keyframes button {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}