.container {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 40px;
}

@media (max-width: 1024px) {
    .container {
        width: 1180px;
        margin: auto;
        max-width: 100%;
        padding: 10px 40px;
    }
}