.container2 {
    width: 760px;
    margin: auto;
} 

@media (max-width: 767px){
    .container2 {
        width: 100%;
    } 
}


.contact {
    display: block;
    margin: 0 40px;
}

.contact__header {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

.contact_paragraph {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10px;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

@media (max-width: 767px){
    .contact-box {
        display: block;
        text-align: left;
        margin: 40px 0;
    }
}

.contact-box__item {
    display: flex;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin: 20px 30px;
}

.contact__text {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--color-primary);
}

.contact__text h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.contact__text a {
    text-decoration: none;
    color: var(--color-primary);
}

.contact__text a:hover {
    color: var(--color-accent);
}

.contact__icon {
    width: 60px;
    margin: 0 20px;
}

@media (max-width: 399px){
    .contact__icon {
        width: 50px;
        margin: 15px;
    }
}

.form {
    margin: 0 20px;
}

.form__fields {
    display: flex;
    flex-wrap: wrap;
    margin:-5px;
    align-items: center;
    justify-content: center;
}

.form__field {
    width: calc(100%/3 - 10px);
    margin: 5px;
    padding: 10px;
    border: 2px var(--color-primary) solid;
    border-radius: 3px;
    overflow: hidden;
    transition: 1s;
}

@media (max-width: 767px) {
    .form__field {
    width: 100%;
    }
}

.form__field--full-row {
    width: 100%;
}

.form__field::placeholder {
    color: var(--color-light);
}

.form__field:hover {
    border: 2px var(--color-light) solid;
}

.form__field:active {
    border: 2px var(--color-light) solid;
}

.form__button {
    display: block;
    margin: 20px auto 0 auto;
    background: none;
    border: 3px  var(--color-accent) solid;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    padding: 10px 15px;
    position: relative;
    margin: 20px auto;
    transition: 1s;
}

.form__button:hover {
    color: var(--color-light);
}