.footer {
    background-color: var(--color-primary);
    padding: 20px 40px;
    margin-top: 60px;
}

.footer__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    width: 200px;
} 

.footer__paragraph {
    font-size: 18px;
    color: var(--color-light);
}