.footer {
    background: linear-gradient(56deg, rgba(37,35,32,1) 0%, rgb(82, 75, 65) 50%, rgba(37,35,32,1) 100%);
    padding: 20px 40px;
    margin-top: 60px;
}

@media (max-width: 399px) {
    .footer {
        padding: 30px;
    }
}

.footer__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 399px) {
    .footer__items {
        display: block;
        text-align: center;
    }
    
}

.footer__logo {
    width: 200px;
} 

@media (max-width: 399px) {
    .footer__logo {
        width: 150px;
    } 
}

.footer__paragraph {
    font-size: 18px;
    color: var(--color-light);
}