*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --color-primary: #252321;
    --color-accent: rgb(255, 196, 20);
    --color-light: rgb(201, 185, 153);
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}