.icon-box {
    background: url('/img/banner.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 30px;
    transform: 0.5s;
    margin-bottom: 80px;
}

.icon-box__opacity {
    background-color: black;
    opacity: 0.9;
}

.icon-box__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box__item {
    margin: 40px;
    font-weight: solid;
}

.icon__img {
    width: 40px;
}

.icon-box__header {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.icon-box__paragraph {
    color: var(--color-light);
}