.icon-box {
    background: url('https://github.com/AnetaDamaszke/zebra_system/blob/master/img/banner.png?raw=true');
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 30px;
    transform: 0.5s;
    margin-bottom: 80px;
}

@media (max-width: 399px) {
    .icon-box {
        margin-bottom: 50px;
    }
}

.icon-box__opacity {
    background-color: black;
    opacity: 0.9;
}

.icon-box__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 769px) {
    .icon-box__items {
        flex-direction: column;
    }
}

.icon-box__item {
    margin: 40px;
    font-weight: solid;
}

.icon__img {
    width: 40px;
}

.icon-box__header {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.icon-box__paragraph {
    color: var(--color-light);
}