.montage {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .montage {
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .montage {
        flex-direction: column;
    }
}

.montage__img {
    width: 500px;
    padding: 20px;
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.68);
    margin-left: 50px;
}

@media (max-width: 991px) {
    .montage__img {
        margin-left: 20px;
    }
}

@media (max-width: 769px) {
    .montage__img {
        margin-left: 0;
    }
}

@media (max-width: 399px) {
    .montage__img {
        width: 300px;
        padding: 10px;
    }
}

.montage__description {
    margin-right: 50px;
}

@media (max-width: 1204px) {
    .montage__description {
        margin-right: 0;
    }
}

@media (max-width: 769px) {
    .montage__description {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 399px) {
    .montage__description {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.montage__description-header {
    text-transform: uppercase;
    color: #ffd727;
    font-size: 36px;
    font-weight: bold;
}

.montage__description-parapgraph {
    line-height: 1.7;
    color: var(--color-primary);
}

.montage__button-box {
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 1024px) {
    .montage__button-box {
        margin-top: 50px;

    }
}

@media (max-width: 769px) {
    .montage__button-box {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}

@media (max-width: 399px) {
    .montage__button-box {
        margin-top: 60px;
        margin-bottom: 40px;
    }
}

.montage__file {
    border: 3px  var(--color-light) solid;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    padding: 15px;
    position: relative;
    margin: 20px auto;
    transition: 1s;
}

.montage__file:hover {
    color: var(--color-accent);
}