.reviews {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 30px;
    transform: 0.5s;
    width: 100%;
}

.reviews__opacity {
    background-color: black;
    opacity: 0.8;
}


.reviews__header {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
}

@media (max-width: 769px) {
    .reviews__header {
        padding-top: 20px;
    }
}

.reviews__box {
    display: flex;
}

@media (max-width: 769px) {
    .reviews__box {
        flex-direction: column;
    }
}

.reviews__item {
    color: var(--color-light);
    line-height: 1.5;
    margin: 50px;
    transition: 1s;
    position: relative;
    z-index: 2;
}

.reviews__item::before {
    content: url('../img/quote-sign.png');
    border: none;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
}

